@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="blogroll">
    <h1 class="display-4">Welcome - Blog Roll Content</h1>

    <article id="blog-1234">
        <img height="300" src="@Model.LatestPost.ImageURL" />
        <header>
            <h2>Some post title</h2>
            <p title="@Model.LatestPost.getPostTimeUTC()">posted: <span class="day-of-week">@Model.LatestPost.PostTime.ToString("dddd")</span> <time datetime="@Model.LatestPost.getPostTimeUTC()">@Model.LatestPost.PostTime.ToString("yyyy-MM-dd")</time></p>
            <p> project / tags</p>
        </header> 
        <div class="post-text">
            <p>@Html.Raw(@Model.LatestPost.PostBody)</p>
        </div>
    </article>
</section>
    
<aside>
    img random fake ad concept here
</aside>
